* { margin:0; padding:0; box-sizing:border-box;}

body {
	background: url(images/background.jpg) #52596b no-repeat;
	background-size: cover;
	text-align: left;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 20px;
	line-height: 20px;
	font-weight: normal;
}

hr {
	border-color: ##fd6e6e;
	margin:30px 0 20px;
	width: 40px;
}



p {
	margin:30px 0;
}



.stripe {
	background: url(images/stripes.png) repeat-x;
	height: 15px;
	width: 100%; 
	position: absolute;
	top: 0;
	left: 0;
}

.taasky {
	margin:250px 0 0 100px;
}


